.faq{
  padding-bottom: 50px;
  .title{
    margin: 20px 0;
    padding-left: 12px;
    font-size: 18px;
    border-left: 2px solid #ff3034;
  }
  ul{
    li{
      padding: 10px 0;
      font-size: 14px;
      border-bottom: 1px solid #f1f1f1;
      a{
        &:after{
          content: '';
          display: block;
          clear: both;
        }
      }
      img{
        float: left;
        padding-right: 20px;
      }
      h4{
        font-size: 18px;
        padding: 12px 0;
      }
      h5{
        padding-bottom: 20px;
      }
      p{
        font-size: 14px;
        color: #999;
      }
    }
  }
}